.overview_item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h4 {
    display: flex;
    gap: 1.5rem;
    color: var(--c-blue-accent-400);
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    color: var(--c-neutral-800);
    font-family: var(--ff-secondary);
    font-size: 1.125rem;
    font-weight: 600;
  }

  svg {
    height: 30px;
    fill: var(--c-pink-accent-300);
  }
}