.overview_item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h4 {
    display: flex;
    gap: 1.5rem;
    color: var(--c-blue-accent-400);
    font-family: var(--ff-primary);
    font-size: var(--fs-500);
    font-weight: 700;

    svg {
      height: 20px;
      fill: var(--c-pink-accent-300);
    }
  }

  p {
    color: var(--c-neutral-800);
    font-family: var(--ff-secondary);
    font-size: var(--fs-300);
    font-weight: 600;
  }

  
}